@page
@model SourceStack.Pages.Message.IndexModel
@{
}
<form method="post" action="">

    @for (int i = 0; i < Model.Messages.Count; i++)
    {

        <input asp-for="@Model.Messages[i].Selected" />
        <span>@Model.Messages[i].CreateTime</span>
        <span>@Model.Messages[i].Content</span>
        <input  type="hidden" asp-for="@Model.Messages[i].Id"/>
        <br />
    }
    <button  type ="submit" >提交</button>



</form>